@page
@model Adoptie_Caini.Pages.Breeds.CreateModel

@{
    ViewData["Title"] = "Creare Rasa";
}


<h4>Creare Rasă</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Breed.BreedName" class="control-label"></label>
                <input asp-for="Breed.BreedName" class="form-control" />
                <span asp-validation-for="Breed.BreedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Creează" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index"><img src="https://www.flaticon.com/svg/static/icons/svg/122/122637.svg" width="20" alt="Back" />&nbsp; Înapoi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
