@page
@model Adoptie_Caini.Pages.Breeds.DetailsModel

@{
    ViewData["Title"] = "Detalii Rasa";
}

<div>
    <h4>Detalii Rasă</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breed.BreedName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breed.BreedName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Breed.ID"><img src="https://www.flaticon.com/svg/static/icons/svg/327/327643.svg" alt="Edit" width="20" /></a>&nbsp; | &nbsp;
    <a asp-page="./Index"><img src="https://www.flaticon.com/svg/static/icons/svg/122/122637.svg" width="20" alt="Back" />&nbsp; Înapoi</a>
</div>
