@page
@model IndexModel
@{
    ViewData["Title"] = "Acasa";
}

<div class="text-center">
    <h1 class="display-4">Bine ați venit!</h1><br />
    <p>Pe acest site puteți gestiona câinii care se află în casa de adopție.</p><br />
    <img src="https://media1.s-nbcnews.com/j/newscms/2020_28/1587661/dogs-age-years-kb-inline-200707_7d0bca498155db9ae60dd81dec0ba6ab.fit-560w.jpg" alt="Alternate Text" /><br /><br />
    <h3><a href="Dogs"><img src="https://cdn.onlinewebfonts.com/svg/img_211991.png" alt="More" width="37" />&nbsp; Vizualizare Listă Câini</a></h3>
</div>
